<div align="center">
<div class="page-header">
  <h1>Crear un Nuevo Cliente<small></small></h1>
</div >

<form id ="form-create"class="form-horizontal">
  <fieldset>
      <div class="form-group {{if changeset.error.username 'has-error'}}">
        <label for="" class="col-sm-4 control-label" >Nombre de Usuario</label>
        <div class="col-sm-4 controls">
          {{input  placeholder="Username" class="form-control" value=changeset.username}}
          {{#if changeset.error.username}}
            <span class="help-block">{{changeset.error.username.validation}}</span>
          {{/if}}
        </div>
      </div>
    <div class="form-group {{if changeset.error.nameClient 'has-error'}}">
       <label for="" class="col-sm-4 control-label">Nombres</label>
       <div class="col-sm-4">
        {{input  placeholder="Names" class="form-control" value=changeset.nameClient}}
        {{#if changeset.error.nameClient}}
          <span class="help-block">{{changeset.error.nameClient.validation}}</span>
        {{/if}}
        </div>
    </div>
    <div class="form-group {{if changeset.error.lastname 'has-error'}}">
        <label for="" class="col-sm-4 control-label">Apellidos</label>
         <div class="col-sm-4">
        {{input placeholder="Lastname" class="form-control" value=changeset.lastname required="True"}}
        {{#if changeset.error.lastname}}
          <span class="help-block">{{changeset.error.lastname.validation}}</span>
        {{/if}}
        </div>
    </div>
    <div class="form-group {{if changeset.error.idClient 'has-error'}}">
        <label for="" class="col-sm-4 control-label">Documento</label>
        <div class="col-sm-4">
       {{input placeholder="Id" class="form-control" value=changeset.idClient maxlength=8}}
       {{#if changeset.error.idClient}}
         <span class="help-block">{{changeset.error.idClient.validation}}</span>
       {{/if}}
       </div>
     </div>
     <div class="form-group {{if changeset.error.email 'has-error'}}">
       <label for="" class="col-sm-4 control-label">Correo</label>
       <div class="col-sm-4">
       {{input placeholder="Email" class="form-control" value=changeset.email }}
       {{#if changeset.error.email}}
         <span class="help-block">{{changeset.error.email.validation}}</span>
       {{/if}}
       </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-4 control-label">Numero de Telefono</label>
        <div class="col-sm-4">
        {{input placeholder="Telephone number" class="form-control" value=changeset.phone}}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-4 control-label">Numero de Celular</label>
        <div class="col-sm-4">
        {{input placeholder="Cellphone number" class="form-control" value=changeset.cellphone}}
        </div>
    </div>
    <div class="form-group {{if changeset.error.password 'has-error'}}">
        <label for="" class="col-sm-4 control-label">Contraseña</label>
        <div class="col-sm-4">
        {{input  placeholder="Password" class="form-control" value=changeset.password}}
        {{#if changeset.error.password}}
          <span class="help-block">{{changeset.error.password.validation}}</span>
        {{/if}}
        </div>
    </div>
    <div class="form-group {{if changeset.error.passwordConfirmation 'has-error'}}">
       <label for="" class="col-sm-4 control-label">Confirmar contraseña</label>
        <div class="col-sm-4">
       {{input placeholder="Confirm Password" class="form-control" value=changeset.passwordConfirmation}}
       {{#if changeset.error.passwordConfirmation}}
         <span class="help-block">{{changeset.error.passwordConfirmation.validation}}</span>
       {{/if}}
       </div>
    </div>
      <button class=" btn btn-primary btn-lg" {{action 'save'}}>Registrar</button>
      <button class=" btn btn-primary btn-lg" {{action 'rollback'}}>Cancelar</button>
  </fieldset>
</form>
</div>
