<!-- Al llamar este componente, se le asigna un atributo reserva que contiene un objeto de tipo
modelo de reservation, entonces aqui es recorrido-->
<article class="listing">
  <div>
  <span>Id de Reserva: </span>{{reserva.id}}
</div>
  <div>
  <span>Nombre del restaurante: </span>{{reserva.nameFranchise}}
</div>
  <div>
  <span>Usuario: </span>{{reserva.userName}}
</div>
  <div>
  <span>Estado: </span>{{reserva.state}}
</div>
  <div>
  <span>Fecha de Solicitud: </span>{{reserva.dateInit}}
</div>
  <div>
  <span>Fecha de Reserva: </span>{{reserva.dateEnd}}
</div>
  <div>
  <span>Cantidad de personas: </span>{{reserva.amountPeople}}
</div>
  <div>
  <span># Mesa: </span>{{reserva.tableRestaurant}}
</div>
  <div>
  <span>Capacidad de la mesa: </span>{{reserva.tableCapacity}}
</div>
  <div>
  <span>Estado de Pago: </span>{{reserva.paymentState}}
</div>
</article>
{{yield}}
