<h4><strong>Búsqueda de Restaurantes</strong></h4>
{{#busqueda-filter filter=(action 'filterByName') as |restaurants|}}
<div id="root" align="center" style="width:100%;display:none;margin-top:15px">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre del restaurante</th>
      <th>Descripción</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants as |restaurantUnit|}}
    <tr>
      <td>{{restaurantUnit.id}}</td>
      <td>{{restaurantUnit.name_restaurant}}</td>
      <td>{{restaurantUnit.description}}</td>
      <td>{{restaurantUnit.email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<!--  <ul class='results'>
    {{#each restaurants as |restaurantUnit|}}
      <li>{{restaurans-listing restaurant=restaurantUnit}}</li>
    {{/each}}
  </ul>-->
{{/busqueda-filter}}
